{{define "display"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css' rel='stylesheet'/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">

    </script>
    <title>Document</title>
</head>

<body style="padding:0;margin:0;">
<div id='map' style='width: 800px; height: 600px;'></div>
<script>
    'use strict';

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    const popupTemplate = "<b>Title:</b> {{title}}" +
                "<br><b>Magnitude:</b> {{magnitude}}" +
                "<br><b>Depth:</b> {{depth}} km" +
                "<br><b>Date:</b> {{date}}" +
                "<br><a href='/en/{{id}}' target='_blank'>View details</a>"

    function constructPopupHTML(data) {
        return popupTemplate
            .replace('{{title}}', data.title)
            .replace('{{depth}}', data.depth)
            .replace('{{date}}', data.date)
            .replace('{{id}}', data.id)
    }

    var plates = JSON.parse("{features: []}");
    var mapNode = document.getElementById("map");
    mapNode.style.width = window.innerWidth + "px";
    mapNode.style.height = window.innerHeight + "px";

    mapboxgl.accessToken = 'pk.eyJ1IjoibGFkeWRhc2NhbGllIiwiYSI6ImNpd2R5ZWdjOTAwNngydG82cTF5N3R5cnEifQ.rA6Xliv2QMFuZt4D1O-7pQ';
   
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9?optimize=true'
    });
    map.addControl(new mapboxgl.NavigationControl());
    map.addControl(new mapboxgl.FullscreenControl());

    // load geojson data
    var geojson;
    $.getJSON('/api/v1/points', function (data) { geojson = data });

    map.on('load', function () {
        var plateLength = plates.features.length;
        while (plateLength--) {
            map.addLayer({
                id: "plates-boundary-" + i,
                type: "fill",
                source: {
                    type: 'geojson',
                    data: plates.features[i]
                },
                layout: {},
                paint: {
                    'fill-color': getRandomColor(),
                    'fill-opacity': 0.05,
                    'fill-antialias': true,
                    'fill-outline-color': "#000"
                }
            });
        }
 
        map.addLayer({
            id: "points",
            type: "symbol",
            source: {
                type: "geojson",
                data: geojson
            },
            paint: {
                "icon-color": "#00ff00",
            },
            layout: {
                "icon-image": "marker-15",
                "icon-size": 1,
                "text-field": "{title}",
                "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                "text-size": 10,
                "text-offset": [0, 1.4],
                "text-anchor": "top"
            }
        });

        // Open the alert's page in a new tab when clicked
        map.on('click', 'points', function (e) {
            var data = e.features[0];
            // Populate the popup and set its coordinates
            // based on the feature found.
            new mapboxgl.Popup()
                    .setLngLat(data.geometry.coordinates)
                    .setHTML(constructPopupHTML(data.properties))
                    .addTo(map);
        });

        // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
        map.on('mouseenter', 'points', function (e) {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'points', function () {
            map.getCanvas().style.cursor = '';
        });
    });
</script>
</body>

</html>
{{end}}

